@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-width: 700px;
    --sm-main-width: 100%;

    --monospace: "Source Code Pro", monospace;

    --backgroundColor: #ededed;
    --borderColor: #c7c7c7;
    --textColor: #000000;

    /* --light-noteColor: #0969da;
    --light-tipColor: #1a7f37;
    --light-importantColor: #8250df;
    --light-warningColor: #9a6700;
    --light-cautionColor: #d1242f;

    --dark-noteColor: #2f81f7;
    --dark-tipColor: #3fb950;
    --dark-importantColor: #8957e5;
    --dark-warningColor: #9e6a03;
    --dark-cautionColor: #da3633; */
}

a {
    color: var(--textColor);
}

html,
body {
    width: 100%;
    font-family: "Helvetica Neue", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Inter", "Noto Sans JP", "Noto Sans CJK", sans-serif;
}

.monospace {
    font-family: var(--monospace);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* MARK: header */
header {
    width: 100%;
    height: 60px;

    background-color: var(--backgroundColor);
    border-bottom: 1px solid var(--borderColor);
}

header>div {
    width: var(--main-width);
    margin: auto;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>div .title {
    line-height: 1;
    font-size: larger;
}

header div .title a {
    text-decoration: none;
}

header div .nav {
    line-height: 1;

    display: flex;
    gap: 10px;
}

header div .nav a {
    user-select: none;
}

/* MARK: main */
main {
    width: var(--main-width);
    margin: auto;
}

/* MARK: footer */
footer {
    width: var(--main-width);
    margin: 30px auto 10px auto;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-wrap: anywhere;
}

footer .githash,
footer .copyright {
    font-size: normal;
    text-align: right;
}

@media screen and (max-width: 768px) {

    header>div,
    main,
    footer {
        width: var(--sm-main-width);
        padding: 0 20px;
    }
}
