/* code */
article code {
    font-family: var(--monospace);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

article :not(.highlight pre)>code {
    background-color: var(--backgroundColor);
    padding: 1px 3px 1px 3px;
    border-radius: 3px;
    border: var(--borderColor) 1px solid;
}

article .highlight>pre {
    margin: 10px 0 10px 0;
    padding: 5px;
    border-radius: 3px;
}

/* base text */
article h1,
article h2,
article h3 {
    line-height: 1.7;
    border-bottom: 1px solid var(--borderColor);

    margin: 10px 0 10px 0;
}

article h4,
article h5,
article h6 {
    margin: 10px 0 5px 0;
}

article h1 {
    font-size: 2em;
}

article h2 {
    font-size: 1.5em;
}

article h3 {
    font-size: 1.17em;
}

article h4 {
    font-size: 1em;
}

article h5 {
    font-size: 0.83em;
}

article h6 {
    font-size: 0.67em;
}

article p {
    width: 100%;
    margin: 5px 0 0 0;
    text-align: justify;
}

article hr {
    border: none;
    margin: 10px 0 10px 0;
    border-top: 1px solid var(--borderColor);
}

/* figure */
article figure {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 15px 0 15px 0;

}

article figure figcaption {
    margin-top: 3px;
}

/* blockquote */
blockquote.simple {
    border-left: 3px solid var(--borderColor);
    margin: 10px 0px 10px 0px;
    padding: 10px;

    font-style: italic;
}

blockquote.simple:last-child {
    margin-bottom: 0;
}

blockquote.simple p,
blockquote.alert p {
    margin: 0;
    padding: 0;
}

/* alert */
blockquote.alert {
    margin: 10px 0px 10px 0px;
    padding: 3px 0 3px 10px;
}

blockquote.alert .alert-heading {
    font-weight: bold;
    font-size: small;
}
