/* code */
article :not(.highlight pre)>code {
    font-family: var(--monospace);

    background-color: var(--backgroundColor);
    padding: 1px 3px 1px 3px;
    border-radius: 3px;
    border: var(--borderColor) 1px solid;
}

article .highlight>pre {
    margin: 10px 0 16px 0;
    padding: 5px;
    border-radius: 3px;
}

article .highlight>pre code {
    font-family: var(--monospace);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    display: block;
    overflow-x: auto;

    font-size: smaller;
    -webkit-text-size-adjust: none;
}

article {
    word-break: keep-all;
}

/* base text */
article h1,
article h2 {
    line-height: 1.7;
    border-bottom: 1px solid var(--borderColor);

    margin: 28px 0 10px 0;
}

article h3,
article h4,
article h5,
article h6 {
    margin: 28px 0 10px 0;
}

article h1 {
    font-size: 2em;
}

article h2 {
    font-size: 1.5em;
}

article h3 {
    font-size: 1.17em;
}

article h4 {
    font-size: 1em;
}

article h5 {
    font-size: 0.83em;
}

article h6 {
    font-size: 0.67em;
}

article p {
    width: 100%;
    margin-bottom: 16px;
}

article hr {
    border: none;
    margin: 16px 0 16px 0;
    border-top: 1px solid var(--borderColor);
}

/* figure */
article figure {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 16px 0 16px 0;

    max-width: 100% !important;
}

article figure figcaption {
    margin-top: 3px;
}

article figure img {
    border: 1px solid var(--borderColor);
}

/* blockquote */
article blockquote.simple {
    border-left: 3px solid var(--borderColor);
    margin: 10px 0px 16px 0px;
    padding: 10px;

    font-style: italic;
}

article blockquote.simple:last-child {
    margin-bottom: 0;
}

article blockquote.simple p,
article blockquote.alert p {
    margin: 0;
    padding: 0;
}

/* alert */
article blockquote.alert {
    margin: 10px 0px 16px 0px;
    padding: 3px 0 3px 10px;
}

article blockquote.alert .alert-heading {
    font-weight: bold;
    font-size: small;
}


/* table */
article table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 10px 0 10px 0;

    display: block;
    overflow: auto;

    width: 100%;
}

article table thead {
    background-color: var(--backgroundColor);
}

article table th,
article table td {
    padding: 5px;
    border: 1px solid var(--borderColor);
}


/* gist */
article .gist .gist-file {
    border: 1px solid var(--borderColor);
}

article .gist th,
article .gist td {
    border: none;
}

/* collapse */
article .collapse {
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    margin: 10px 0;
}

article .collapse[open] {
    border: 1px solid var(--borderColor);
}

article .collapse summary {
    padding: 5px;
    cursor: pointer;

    background-color: var(--backgroundColor);
}

article .collapse[open] summary {
    border-bottom: 1px solid var(--borderColor);
}

article .collapse>div {
    margin: 10px;
}

/* footnotes */
article .footnotes {
    margin-top: 30px;
}

/* list */
article>ul,
article>ol {
    margin: 16px 0 16px 0;
}
