main .detail {
    display: flex;
    flex-direction: column;

    gap: 5px;

    margin: 20px 0 10px 0;
}

main .detail h1 {
    margin: 0;
    font-weight: bold;
    font-size: 2em;

    line-height: 1;
    border: none;
}

main .detail .tools {
    display: flex;
    justify-content: flex-end;
    gap: 5px;

    font-size: small;
    user-select: none;
}

main .detail .tools span {
    text-decoration: underline;
    cursor: pointer;
}

main .detail .tools .status {
    font-size: small;
    display: none;
}
