main .detail {
    display: flex;
    flex-direction: column;

    gap: 5px;

    margin: 20px 0 10px 0;
}

main .detail h1 {
    margin: 0;
    font-weight: bold;
    font-size: 2em;

    line-height: 1;
    border: none;
}

main .detail .tools {
    display: flex;
    justify-content: flex-end;
    gap: 5px;

    font-size: small;
    user-select: none;
}

main .detail .tools span {
    text-decoration: underline;
    cursor: pointer;
}

main .detail .tools .status {
    font-size: small;
    display: none;
}

main nav#TableOfContents::before {
    content: "Table of contents";

    display: block;
    margin-left: 20px;

    font-size: large;
    font-weight: bold;
}

main nav#TableOfContents {
    background-color: var(--backgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 3px;

    margin: 16px 0 16px 0;
    padding: 10px;
}

main nav#TableOfContents>ul {
    margin-top: 5px;
    margin: 0;
}
